.c-ed872:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'A';
}

.c-cb686:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'B';
}

.c-c3a74:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'C';
}

.c-f0d2c:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'D';
}

.c-eb67b:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'E';
}

.c-d7ab7:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'F';
}

.c-fc9e2:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'G';
}

.c-a6391:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'H';
}

.c-def89:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'I';
}

.c-abd22:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'J';
}

.c-e0d9d:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'K';
}

.c-cdd42:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'L';
}

.c-ea784:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'M';
}

.c-fb41a:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'N';
}

.c-d8e45:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'O';
}

.c-ef0b8:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'P';
}

.c-ff407:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'Q';
}

.c-c6169:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'R';
}

.c-ddb8d:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'S';
}

.c-d5a8e:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'T';
}

.c-dce83:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'U';
}

.c-f4e32:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'V';
}

.c-b497f:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'W';
}

.c-fc0e5:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'X';
}

.c-c003b:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'Y';
}

.c-e5820:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'Z';
}

.c-d277d:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '@';
}

.c-d090e:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '.';
}

.c-d058d:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '-';
}

.c-f8a51:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '_';
}

.c-cf018:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'a';
}

.c-a989e:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'b';
}

.c-d9f10:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'c';
}

.c-db7bc:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'd';
}

.c-c18d7:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'e';
}

.c-c2dee:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'f';
}

.c-c8d3b:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'g';
}

.c-c000e:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'h';
}

.c-dff51:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'i';
}

.c-b6688:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'j';
}

.c-dc5de:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'k';
}

.c-bc8e8:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'l';
}

.c-f9848:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'm';
}

.c-f9653:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'n';
}

.c-b9ce1:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'o';
}

.c-b7464:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'p';
}

.c-eb5f5:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'q';
}

.c-b64e6:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'r';
}

.c-f6498:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 's';
}

.c-ce33c:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 't';
}

.c-e1fdd:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'u';
}

.c-c0c87:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'v';
}

.c-cdefa:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'w';
}

.c-a41b5:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'x';
}

.c-b1bf1:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'y';
}

.c-ff9f4:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: 'z';
}

.n-d5196:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '0';
}

.n-d44ca:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '1';
}

.n-cebe7:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '2';
}

.n-e79a7:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '3';
}

.n-c58ad:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '4';
}

.n-b42ef:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '5';
}

.n-a7ad2:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '6';
}

.n-ac1d9:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '7';
}

.n-d27d7:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '8';
}

.n-b7438:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '9';
}

.z-nm3rd:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '磊';
}
.z-nm2nd:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '欣';
}
.z-nm1st:before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    content: '潘';
}
